/* pricing table */
.pricing-tables {
    padding: 20px;
  }
  .pricing-tables h1 {
    font-size: 48px;
  }
  .pricing-tables .plan.first {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px !important;
  }
  .pricing-tables .plan.last {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
  }
  .pricing-tables .plan.recommended {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  .pricing-tables .plan.recommended .head {
    /*margin-bottom: 20px;*/
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
  .pricing-tables.attached .col-sm-4, .pricing-tables.attached .col-md-4, .pricing-tables.attached .col-sm-3, .pricing-tables.attached .col-md-3 {
    padding-left: 0;
    padding-right: 0;
  }
  .pricing-tables.attached .plan {
    border-radius: 0;
  }
  .pricing-tables.attached .plan .head {
    border-radius: 0;
  }
  /*.pricing-tables.attached .plan.recommended {
    border-radius: 4px;
  }*/
  /*.pricing-tables.attached .plan.recommended .head {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }*/
  .pricing-tables.attached .plan.last {
    border-bottom-right-radius: 4px;
  }
  .pricing-tables.attached .plan.last .head {
    border-top-right-radius: 4px;
  }
  .pricing-tables.attached .plan.first {
    border-bottom-left-radius: 4px;
  }
  .pricing-tables.attached .plan.first .head {
    border-top-left-radius: 4px;
  }
  .plan {
    box-shadow: 0 2px 2px rgba(10, 10, 10, 0.30) !important;
    min-height: 100px;
    background: #fff;
    border-radius: 4px;
    margin: 20px 0;
    padding-bottom: 25px;
    text-align: center;
  }
  .plan .head {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 12px 16px;
    background: #595959;
    color: #fff;
  }
  .plan .head h1, .plan .head h2, .plan .head h3 {
    padding: 0;
    margin: 0;
    font-weight: 100;
  }
  .plan .price {
    border-top: 1px solid #eee;
    margin: 0 auto 30px auto;
    width: 80%;
  }
  .plan .price h3 {
    font-size: 29px;
    vertical-align: top;
    line-height: 1;
  }
  .plan .price h3 span {
    font-size: 38px;
    vertical-align: top;
    position: relative;
    margin: 6px 0 0 -7px;
    display: inline-block;
  }
  .plan .price h4 {
    color: #aaa;
    font-size: 14px;
  }
  
   desc{
      color: #aaa;
    font-size: 12px;
  }
  .plan .btn {
    padding: 10px 30px;
    text-transform: uppercase;
    font-weight: 500;
  }
  .plan ul {
    list-style-type: none;
    padding: 20px;
    margin-top: 2px;
  }
  .plan ul li {
    line-height: 14px;
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: 400;
  }
  .plan ul li a {
    text-decoration: underline;
    color: #e6e9ed;
  }
  .plan ul li:last-child {
    border-bottom: none;
  }
  .plan ul strong {
    font-weight: 700;
  }
  .plan.recommended {
    margin-top: 6px;
    box-shadow: 0 0 22px rgba(10, 10, 10, 0.42);
    position: relative;
    z-index: 99;
    border-radius: 4px;
  }
  .plan.recommended .head {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background: #283897;
  }
  .head.value{
    background-color: #fdaf17;
    /*margin-bottom: 48px;*/
  }
  .plan.recommended .btn {
    margin-bottom: 10px;
  }
  @media screen and (min-width:770px) and (max-width:990px){
    .plan .mediafix h3 {
        font-size: 55px !important;
        vertical-align: top;
        line-height: 1;
    }
  }
  
  .symbol{
      color:gray;
      font-size: 25px !important;
  }
  
  hr {
      margin-top: 0px; 
      margin-bottom: 0px; 
  }
  
  ul{
      margin-top: 0;
      margin-bottom: -20px;
  }
  
  .parallax, .parallax2, .foot {
      display:none;
  }
  
  /*loading*/
  .animationload {
      /*background-color: #fff;*/
      height: 100%;
      left: 0;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 10000;
  }
  .osahanloading {
      animation: 1.5s linear 0s normal none infinite running osahanloading;
      background: #000000 none repeat scroll 0 0;
      border-radius: 150px;
      height: 150px;
      left: 46%;
      margin-left: -25px;
      margin-top: -25px;
      position: absolute;
      top: 46%;
      width: 150px;
      border:6px groove red;
     
  }
  .osahanloading::after {
      animation: 1.5s linear 0s normal none infinite running osahanloading_after;
      border-color: rgb(25, 0, 255) transparent; 
      border-radius: 80px;
      border-style: solid;
      border-width: 10px;
      content: "";
      height: 80px;
      left: -15px;
      position: absolute;
      top: -15px;
      width: 80px;
  }
  @keyframes osahanloading {
  0% {
      transform: rotate(0deg);
  }
  50% {
      /*background: #85d6de none repeat scroll 0 0;*/
      transform: rotate(180deg);
  }
  100% {
      transform: rotate(360deg);
  }
  }
  
  #loading{
      position:absolute;
  }
  /*fin loading*/
  
  .input-sodexo{
      border-style: none;
      border-bottom: 1px dotted gray;
  }
  
  #numprestacion{
      font-weight: bolder;
      color: #283897;
      font-size:15px;
  }
  
  .section-bottom{
      font-size: 12px;
      padding: 10px;
  }
  #loader {
    bottom: 100%;
    height: 90px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 150px;
}
#loader {
    bottom: 100%;
    height: 90px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 150px;
}
#loader .dot {
    bottom: 0;
    height: 100%;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 130px;
}
#loader .dot::before {
    border-radius: 100%;
    content: "";
    height: 130px;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: scale(0);
    width: 130px;
}
#loader .dot:nth-child(7n+1) {
    transform: rotate(45deg);
}
#loader .dot:nth-child(7n+1)::before {
    animation: 0.8s linear 0.7s normal none infinite running load;
    background: #00ff80 none repeat scroll 0 0;
}
#loader .dot:nth-child(7n+2) {
    transform: rotate(90deg);
}
#loader .dot:nth-child(7n+2)::before {
    animation: 0.8s linear 0.8s normal none infinite running load;
    background: #00ffea none repeat scroll 0 0;
}
#loader .dot:nth-child(7n+3) {
    transform: rotate(135deg);
}
#loader .dot:nth-child(7n+3)::before {
    animation: 0.8s linear 0.9s normal none infinite running load;
    background: #00aaff none repeat scroll 0 0;
}
#loader .dot:nth-child(7n+4) {
    transform: rotate(180deg);
}
#loader .dot:nth-child(7n+4)::before {
    animation: 0.8s linear 0.10s normal none infinite running load;
    background: #0040ff none repeat scroll 0 0;
}
#loader .dot:nth-child(7n+5) {
    transform: rotate(225deg);
}
#loader .dot:nth-child(7n+5)::before {
    animation: 0.8s linear 0.11s normal none infinite running load;
    background: #2a00ff none repeat scroll 0 0;
}
#loader .dot:nth-child(7n+6) {
    transform: rotate(270deg);
}
#loader .dot:nth-child(7n+6)::before {
    animation: 0.8s linear 0.12s normal none infinite running load;
    background: #9500ff none repeat scroll 0 0;
}
#loader .dot:nth-child(7n+7) {
    transform: rotate(315deg);
}
#loader .dot:nth-child(7n+7)::before {
    animation: 0.8s linear 0.13s normal none infinite running load;
    background: magenta none repeat scroll 0 0;
}
#loader .dot:nth-child(7n+8) {
    transform: rotate(360deg);
}
#loader .dot:nth-child(7n+8)::before {
    animation: 0.8s linear 0.14s normal none infinite running load;
    background: #ff0095 none repeat scroll 0 0;
}
#loader .lading {
    background-image: url("../images/loading.gif");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    bottom: -40px;
    height: 20px;
    left: 0;
    position: absolute;
    right: 0;
    width: 180px;
}
@keyframes load {
100% {
    opacity: 0;
    transform: scale(1);
}
}
@keyframes load {
100% {
    opacity: 0;
    transform: scale(1);
}
}
#left-upper-spinner{
  justify-content: flex-start;
}
