*{
    margin:0;
    padding:0;
}
body, html {
    height: 100%;
}
img{
    height:50px;
    position: fixed;
    top: 0%;
    left: 20px;
}


li{
    height: 20px;
    text-align: center;
    transition: 1s;
    -webkit-transition: 1s;   
}
footer{
    position: relative;
    background-color: limegreen;
    opacity: 1;
    width: 100%;
    height: 50px;
}
footer>p{
    position: relative;
    text-align: center;
    font-size: 20px;
    top:15px;
    font-weight: bold;
}
.headImage{
    background-image: url('home_background.jpg'); 
    height: 500px; 
    top: inherit; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

}
ul a{
    text-decoration: none;
}
.parallax {
    background-image: url('home_background.jpg');  
    height: 100%; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax2 {
    background-image: url('middle_background.jpg'); 
    height: 100%; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
@media only screen and (max-device-width: 1366px) {
  
}
svg{
    position: relative;
    top: 100px;
}
#headDiv, #bottomDiv{
    top: 100px;
    display: flex;
    justify-content: center;
}

